div, a, h1, p, ul, li, form, input, select {
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  border: none;
}

i {
  font-style: normal !important;
}

.results {
  flex-direction: column;
  min-height: 78.69vh;
}

.results__view-toggle {
  height: 10vh;
  justify-content: flex-end;
  font-size: 4vmin;
  font-family:'FontAwesome' !important;
  color: #E0E0E0;
}

.view__dashboard {
  width: 4vmin;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding-top: 0.5vh;
  margin-right: 10px;
}

.view__list {
  width: 4vmin;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.view__dashboard.active,
.view__list.active {
  color: #3C4146;
}
