<ul class='results__list'>
  <li *ngFor="let repo of repos" class='repo'>

    <div class='repo__stats'>
      <div class='repo__language'>{{repo.language}}</div>
      <div class='repo__stars stars'>
        <span class='stars__icon'>
          <i class="fas fa-star"></i>
        </span>
        {{repo.stargazers_count}}
      </div>
    </div>

    <h1 class='repo__name'>{{repo.name}}</h1>
    <p class='repo__description'>{{repo.description}}</p>
    <div class='button-wrapper'>
      <button *ngIf='!repo.archived' (click)='addRepo(repo)' class='repo__action'>ADD TO LIST</button>
      <button *ngIf='repo.archived' (click)='deleteRepo(repo)' class='repo__action repo__action_red'>REMOVE FROM LIST</button>
    </div>
  </li>
</ul>
