body,
div,
span,
iframe,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
big,
cite,
code,
em,
img,
ins,
q,
s,
small,
strong,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
footer,
header,
menu,
nav,
input {
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

.container {
    flex-direction: column;
    min-height: 98vh;
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

.header {
    background: #3C4146;
    color: #FFFFFF;
    height: 7vmin;
    justify-content: space-between;
}

.logo-group {
    width: 50%;
}

.nav-group {
    width: 50%;
    justify-content: flex-end;
}


.header__icon {
    width: 8%;
    background: url('../assets/search_cat.png') center no-repeat;
    background-size: contain;
    margin: 1% 0 1% 5%;
}

.header__logo {
flex-direction: column;
margin-left: 2%;
justify-content: center;
}

.logo__heading {
    font-size: 2.5vmin;
    font-weight: normal;
}

.logo__text {
    font-size: 1.5vmin;
    color: #B3BCC7;
}

.header__search-link {
    align-items: center;
}

.header__my-list-link {
    margin: 0 5% 0 3%;
    align-items: center;
}


.main {
    flex: 1;
}

.footer {
    height: 5vmin;
    background: #3C4146;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    font-size: 1.5vmin;
}

