body,
div,
span,
iframe,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
big,
cite,
code,
em,
img,
ins,
q,
s,
small,
strong,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
footer,
header,
menu,
nav,
input,
select {
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  border: 1px solid lightblue;
}

.container {
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  min-width: 550px;
  min-height: 600px;
  align-items: center;
}

.header {
  background: #3c4146;
  color: #ffffff;
  height: 7vh;
  justify-content: space-between;
  width: 100%;
}

.logo-group {
  width: 50%;
}

.nav-group {
  width: 50%;
  justify-content: flex-end;
}

.header__icon {
  width: 8%;
  background: url("../assets/search_cat.png") center no-repeat;
  background-size: contain;
  margin: 1% 0 1% 5%;
}

.header__logo {
  flex-direction: column;
  margin-left: 2%;
  justify-content: center;
}

.logo__heading {
  font-size: 2.5vmin;
  font-weight: normal;
}

.logo__text {
  font-size: 1.5vmin;
  color: #b3bcc7;
}

.header__search-link {
  align-items: center;
}

.header__my-list-link,
.header__search-link {
  margin-right: 5%;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

.header__my-list-link:hover,
.header__search-link:hover {
  color: #b3bcc7;
}

.main {
  flex-direction: column;
  width: 80%;
}

.footer {
  height: 5vh;
  background: #3c4146;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  font-size: 1.5vmin;
  width: 100%;
}
