body,
div,
iframe,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
big,
cite,
code,
em,
img,
ins,
q,
s,
small,
strong,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
footer,
header,
menu,
nav,
input,
select {
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  border: none;
}

i {
  font-style: normal !important;
}

.results__list {
  flex-direction: column;
}

.repo {
  justify-content: space-between;
  height: 20vh;
  border-top: 1px solid #e1e4e8;
  padding: 2vh 3% 2vh 0;
}

.wrapper-repo-action {
  width: 3%;
  padding-top: 2vh;
}

.repo__action {
  outline: 1px solid #0366D6;
  border: 0.5vh solid white;
  height: 2.5vh;
  width: 2.5vh;
}

.repo__action.delete {
  background: #0366D6;
}

.repo__info {
  flex-direction: column;
  width: 83%;
}

.repo__name {
  color: #0366d6;
  font-size: 2.5vmin;
  font-weight: normal;
  text-decoration: none;
  height: 30%;
  align-items: flex-end;
}
.repo__description {
  padding: 2vh 0;
  font-size: 1.5vmin;
  font-weight: normal;
  height: 40%;
}

.repo__topics {
  height: 30%;
}

.topics__item {
  font-size: 1.5vmin;
  background: #F1F8FE;
  border: 1px solid #F1F8FE;
  border-radius: 2vh;
  height: 70%;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  padding: 0 2vh;
}

.repo__stats {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 12%;
}

.repo__stars {
  font-size: 2vmin;
  align-items: center;
}

.stars-group__icon {
  color: #F1E05A;
  font-family:'FontAwesome' !important;
  font-size: 2.5vmin;
  margin-right: 7px;
}

.repo__language {
  color: #999999;
  font-size: 1.5vmin;
}
