<ul class='results__list'>
  <li *ngFor="let repo of repos" class='repo' [class.hidden]='!repo.archived'>

    <div class='wrapper-repo-delete'>
      <div (click)='deleteRepo(repo)' class='repo__delete'></div>
    </div>
    <div class='repo__info'>
      <a href={{repo.html_url}} class='repo__name'>{{repo.name}}</a>
      <p class='repo__description' [class.big]='!repo.topics.length'>{{repo.description}}</p>
      <ul [class.hidden]='!repo.topics.length' class='repo__topics topics'>
        <li *ngFor='let topic of repo.topics' class='topics__item'>{{topic}}</li>
      </ul>
    </div>

    <div class='repo__stats'>
      <div class='repo__stars stars-group'>
        <span class='stars-group__icon'>
          <i class="fas fa-star"></i>
        </span>
        {{repo.stargazers_count}}</div>
      <div class='repo__language'>{{repo.language}}</div>
    </div>
  </li>
</ul>