body,
div,
span,
iframe,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
big,
cite,
code,
em,
img,
ins,
q,
s,
small,
strong,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
footer,
header,
menu,
nav,
input,
select {
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  border: none;
}

.results__list {
flex-wrap: wrap;
justify-content: center;
}

.repo {
    width: 40%;
    height: 35vh;
    flex-direction: column;
    padding: 3vh 3vw 3vh 3vw;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    margin: 1.5%;
}

.repo__stats {
  justify-content: space-between;
}
.repo__language {
  color: #999999;
  font-size: 1.5vmin;
  align-items: center;
}
.repo__stars{
  font-size: 2vmin;
}
.repo__name {
  margin-top: 5vh;
  color: #0366D6;
  font-size: 3vmin;
  font-weight: normal;
}
.repo__description {
  font-size: 1.5vmin;
  overflow: auto;
  height: 10vh;
}
.repo__add {
  color: white;
  background: #0366D6;
  border: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  width: 50%;
  height: 4.5vmin;
  align-self: center;
  margin-top: 1vh;
  font-weight: 100;
  font-size: 1.5vmin;
}