body,
div,
span,
iframe,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
big,
cite,
code,
em,
img,
ins,
q,
s,
small,
strong,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
footer,
header,
menu,
nav,
input,
select {
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  border: none;
  border-radius: 0px;
  appearance: none;
}

.search-page {
  flex-direction: column;
  align-items: center;
}

.select__group {
  width: 20%;
  position: relative;
  height: 3.5vh;
}
.select-group__select {
  z-index: 2;
  background: transparent;
  width: 100%;
  border-bottom: 1px solid #0366d6;
}
.select-group__arrow {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 20%;
  top: 0;
  right: 0;
  font-size: 1.2vmin;
  align-items: center;
  justify-content: center;
}

.search__criteria-group {
  width: 80%;
  min-height: 7vh;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.5vmin;
}


.input {
  flex-direction: column;
  height: 6vh;
  width: 35%;
  justify-content: space-between;
}

.input__placeholder {
  font-size: 1.5vmin;
  position: relative;
  top: 3.5vh;
  z-index: 1;
}

.input__placeholder.active {
  color: #0366D6;
  top: 1vh;
}

.criteria__text {
  height: 3.5vh;
  border-bottom: 1px solid #0366d6;
  background: transparent;
  z-index: 2;
}
.search__button {
  height: 3.5vh;
  width: 13%;
  background: #0366d6;
  color: white;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.select-group__select:focus,
.criteria__text:focus {
  border-bottom: 2px solid #0366d6;
  outline: 0;
  box-shadow: none;
}


.search__button:active {
  box-shadow: none;
  outline: 0;
}
.search__button:focus {
  outline: 0;
}


/* results */

.search__results-group {
  width: 80%;
  flex-direction: column;
}

.no-result-group {
  flex-direction: column;
  height: 78.69vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
.no-result-group__heading {
  color: #0366d6;
  font-size: 4vmin;
}
.no-result-group__text {
  margin-top: 0.5vh;
  font-size: 3vmin;
  font-weight: normal;
}
.no-result-group__image {
  position: absolute;
  top: center;
  left: center;
  height: 25vh;
  width: 25vh;
  background: url("../../assets/github_icon.png") no-repeat;
  background-size: contain;
  opacity: 0.0428;
}
