<div class='search-page'>

  <form class='search__criteria-group criteria'>
    <div class='criteria__type'>Repositories</div>
    <div class='criteria__language'>Javascript</div>
    <div class='criteria__text'>CMS</div>
    <div class='search__button'>SEARCH</div>
  </form>

  <div class='search__results-group results'>
    <div class='results__view-toggle view'>
      <a class='view__dashboard dashboard'>a
      </a>
      <a class='view__list'>a
      </a>
    </div>
    <div class='results__list'></div>
  </div>

</div>❖
