<div class='search-page'>

  <form class='search__criteria-group criteria'>

    <div class='select__group'>
    <select #type
      (blur)='updateType(type.value)'
      (keyup.enter)='updateType(type.value)'
      class='criteria__type select-group__select'>
      <option disabled>Type</option>
      <option value='Repositories'>Repositories</option>
    </select>
    <div class='select-group__arrow'>▼</div>
  </div>
  
  <div class='select__group'>
    <select #language
      (blur)='updateLanguage(language.value)'
      (keyup.enter)='updateLanguage(language.value)'
      class='criteria__language select-group__select'>
      <option disabled>Language</option>
      <option value='Javascript'>Javascript</option>
      <option value='CSS'>CSS</option>
      <option value='HTML'>HTML</option>
      <option value='PHP'>PHP</option>
      <option value='Ruby'>Ruby</option>
      <option value='C++'>C++</option>
      <option value='Python'>Python</option>
      <option value='C#'>C#</option>
      <option value='Java'>Java</option>
      <option value='Go'>Go</option>
      <option value='Haskell'>Haskell</option>
    </select>
    <div class='select-group__arrow'>▼</div>
  </div>

    <div class='input'>
      <p class="input__placeholder" [class.active]='textInputActive'>Type here for search</p>
    <input #searchTerm
      (focus)='isActive()' (blur)='updateSearchTerm(searchTerm.value); isNotActive(searchTerm.value)'
      (keyup.enter)='updateSearchTerm(searchTerm.value)'
      type='text' class='criteria__text input__field'>
    </div>

    <button (click)='getRepos()' class='search__button'>SEARCH</button>

  </form>
  <app-results *ngIf='checkRepos(); else noResult' [repos]='repos' class='search__results-group'></app-results>
  <ng-template #noResult class='no-result-group'>
    <div class='no-result-group'>
      <h1 class='no-result-group__heading'>NO RESULTS FOUND</h1>
      <p class='no-result-group__text'>select other parameters and try again</p>
      <div class='no-result-group__image'></div>
    </div>
  </ng-template>

</div>