<div class='search-page'>

  <form class='search__criteria-group criteria'>

    <select #type (blur)='updateType(type.value)' class='criteria__type'>
      <option disabled>Type</option>
      <option value='Repositories'>Repositories</option>
    </select>

    <select #language (blur)='updateLanguage(language.value)' class='criteria__language'>
        <option disabled>Language</option>
        <option value='Javascript'>Javascript</option>
        <option value='CSS'>CSS</option>
        <option value='HTML'>HTML</option>
        <option value='PHP'>PHP</option>
        <option value='Ruby'>Ruby</option>
        <option value='C++'>C++</option>
        <option value='Python'>Python</option>
        <option value='C#'>C#</option>
        <option value='Java'>Java</option>
        <option value='Go'>Go</option>
        <option value='Haskell'>Haskell</option>
    </select>

    <input #searchTerm (blur)='updateSearchTerm(searchTerm.value)' type='text' class='criteria__text' placeholder='Type here for search'>
    
    <button (click)='getRepos()' class='search__button'>SEARCH</button>
 
  </form>
  <app-results *ngIf='[repos]; else noResult'  [repos]='repos' class='search__results-group'></app-results>
  <ng-template #noResult>NO RESULT!!!</ng-template>

</div>
