body,
div,
span,
iframe,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
big,
cite,
code,
em,
img,
ins,
q,
s,
small,
strong,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
footer,
header,
menu,
nav,
input,
select {
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  border: none;
}

.search-page {
  flex-direction: column;
  align-items: center;
}

.search__criteria-group {
  width: 80%;
  min-height: 7vmin;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.5vmin;
}

.criteria__type {
  height: 3vmin;
  width: 20%;
  background: white;
  border-bottom: 1px solid #0366d6;
  align-items: center;
}

.criteria__language {
  height: 3vmin;
  width: 20%;
  border-bottom: 1px solid #0366d6;
  align-items: center;
  background: white;
}
.criteria__text {
  height: 3vmin;
  width: 35%;
  border-bottom: 2px solid #0366d6;
  align-items: center;
}
.search__button {
  height: 3vmin;
  width: 13%;
  background: #0366d6;
  color: white;
  justify-content: center;
  align-items: center;
}

/* results */

.search__results-group {
  width: 80%;
  flex-direction: column;
}

.results__view-toggle {
  min-height: 15vmin;
  justify-content: flex-end;
  font-size: 4vmin;
}

.view__dashboard {
  width: 10%;
  justify-content: center;
  align-items: center;
}

.view__list {
  width: 10%;
  justify-content: center;
  align-items: center;
  font-size: 4vmin;
}

.results__list {
  flex-direction: column;
}

.repo {
  justify-content: space-between;
  min-height: 15vmin;
  border-top: 1px solid #e1e4e8;
}
.repo__info {
  flex-direction: column;
  justify-content: center;
}

.repo__name {
  color: #0366d6;
  font-size: 2.5vmin;
  font-weight: normal;
}
.repo__description {
  font-size: 1.5vmin;
}

.repo__stats {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.repo__stars {
}
.repo__language {
  color: #999999;
  font-size: 1.5vmin;
}
